body{
  background-color:#AE95C4 ;
}


.text{
  font-family: "Helvetica", sans-serif;
  letter-spacing: 0.03rem;
  color: black;
  position:absolute;
  top:2%;
  left:2%;
  font-weight: 600;
  font-size: 150px;
  color: cornflowerblue;
  padding: 5px;
}


@media (max-width:700px) {
  .text
{font-size: 90px;
color:#7FBCE9;
text-align: center;}
}

@media (max-width:535px) {
  .text
{font-size: 50px;
color:lightsteelblue;
text-align:right;}
}
