body{
  background-color: black;
}

a:visited {
  text-decoration: none;
  color:wheat;
}

a:link {
  text-decoration: none;
  color: wheat;
}

#draggable {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable2 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable3 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable4 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable5 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable6 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable7 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable8 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable9 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable10 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable11 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable12 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable13 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable14 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable15 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable16 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable17 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable18 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable19 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable20 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable21 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable22 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable23 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable24 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable25 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable26 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable27 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable28 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable29 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable30 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

#draggable31 {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}


button {
  border-radius: 30px;
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px dashed white;
  position: fixed;
  left: 4%;
  top:8.5%;
}

button:hover{
  filter: blur(2px);
}


.header{
  color:wheat;
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2rem;
  padding: 5%;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.header:hover{
  filter: blur(2px);
}

#dates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8%,8%));
grid-template-rows: repeat(auto-fill, minmax(8%, 8%));
  grid-gap: 200px;
  row-gap:200px;
  height: 500px;
  position:relative;
  padding:2%;
  max-width: 100%;
}

.day {
  height: 60px;
  width:60px;
  font-family: "Helvetica", sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-align: left;
}

.day:hover{
  filter: blur(5px);
}


@media (max-width:535px) {
  div.day
{height: 40px;
  width:40px;
font-size: 20px;}
  div#dates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2%,2%));
  grid-template-rows: repeat(auto-fill, minmax(2%, 2%));
  }
}
